
<ion-view view-title="商品详情">
	<ion-content>
		<div class="list card">
		  <div class="item item-body">
		    <img class="full-image" ng-src="{{str}}">
		    <p>
		      {{str1}}
		    </p>
		    <p>
		      <a href="#" class="subdued">1 Like</a>
		      <a href="#" class="subdued">5 Comments</a>
		    </p>
		  </div>
		
		</div>
		<ion-list>
			<ion-item style="text-align:center">
				<img ng-src="{{str}}" alt="" />
				<p style="color:#f8285c;font-size:30px;margin:10px;height:40px;line-height:40px">￥{{str0}}</p>
				<div>{{str1}}</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>