<div>
	<div class="row sanduan" style="background-color:#fff;padding:0">
		<div class="col">
			<a class="item item-icon-left" href="#">
				<i class="icon ion-monitor"></i> 电脑版
			</a>
		</div>
		<div class="col">
			<a class="item item-icon-left" href="#">
				<i class="icon ion-iphone"></i> 客户端
			</a>
			<div class="zhekou">
				<img src="img/tip.png" alt="" />
			</div>
		</div>
		<div class="col">
			<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-home-outline"></i> 返回首页

			</a>
		</div>
	</div>
	<div class="centerbot">
		<h2>copyright © 折就购</h2>
	</div>
	
</div>