<ion-tabs class="tabs-light tabs-icon-top">
	<ion-tab title="首页" icon="ion-home" href="#/tab/home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>
	<ion-tab title="品牌折扣" icon="ion-bonfire" href="#/tab/discount">
		<ion-nav-view name="tab-discount"></ion-nav-view>
	</ion-tab>
	<ion-tab title="9.9包邮" icon="ion-medkit" href="#/tab/free1">
		<ion-nav-view name="tab-free1"></ion-nav-view>
	</ion-tab>
	<ion-tab title="19.9包邮" icon="ion-briefcase"  href="#/tab/free2">
		<ion-nav-view name="tab-free2"></ion-nav-view>
	</ion-tab>
	<ion-tab title="个人中心" icon="ion-ios-person" href="#/tab/center">
		<ion-nav-view name="tab-center"></ion-nav-view>
	</ion-tab>
</ion-tabs>